*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: #eef4ed;
    color: black;
    max-width: 1500px;
}


/* DISPLAY CELULAR */
@media (max-width: 767px){
    .desktop{display: none;}
    .tablet{display: none;}
    
}
/* DISPLAY DESKTOP */
@media (min-width: 768px){
    .tablet{display: none;}
    .celular{display: none;}
}
.celular>h1{color: black;}


/* HEADER DESKTOP */
/* HEADER */
header{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    min-width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index define que elemento esta mas superficial a otro */
    z-index: 2;
    background-color: #eef4ed;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 66);
    
}
.logo{
    margin-left: 20px;
    max-width: 150px;
    height: 25px;
    
}
.cont-ul{
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-top: -40px;
    position: absolute;
}
li,
li >a,
.ul-third >li >a{
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black  
}

li:hover{
    background-color:  #FD5657;
    color: rgb(238, 244, 237);
    
}
li >a:hover{
    color: rgb(238, 244, 237);
}
.ul-second{
    position: absolute;
    display: none;
    transform: translateY(20px);
}
.ul-second >li{
    border-bottom: solid 1px white;
    text-align: center;
    background-color: black;;
    color: rgb(238, 244, 237);
    padding: 20px;
    width: 190px;
    transform: translateX(-20px);
}
.ul-second >li >a{
    text-align: center;
    color: rgb(238, 244, 237);
}
.ul-second >li:hover{
    background-color: #FFBD59;
    color: black;
}
.ul-second>li>a:hover{
    color: black;
}
.develop:hover > .ul-second{
    display: block;
}
.ul-third{
    position: absolute;
    right: 0;
    top: 0%;
    transform: translateX(190px);
    display: none;
    color: rgb(238, 244, 237);
    background-color:black;
    text-align: center;
}
.ul-third >li{
    border-bottom: solid 1px white;
    padding: 20px;
    color: rgb(238, 244, 237);
}
.ul-third >li >a{
    
    color: rgb(238, 244, 237);
}
.ul-third >li:hover{
    background-color: #00B292
}
.front:hover > .ul-third{
    display: block;
}
/* FIN HEADER */
/* FIN HEADER */
/* FIN HEADER */

/* MENU CEL *//* MENU CEL *//* MENU CEL *//* MENU CEL */
.header-cel{
    display: flex;
    width: 90%;
}
.logo-cel{
    width: 20%;
}
.menu-cel{
    width: 100%;
    margin-top: 20px;
   
    background-color: black;
    text-align: left;
}
.menu-cel h2{
    background-color: #FD5657;
    color: white ;
    border-bottom: solid #FFBD59 1px;
}
.Obra-cel h2{
    background-color: #FD5657;
    color: white ;
}
.Obra-cel h3{
    padding-left: 20px;
    background-color: #FFBD59;
    color: black;
    border-bottom:  solid #00B292 1px;
}
.Obra-cel h4{
    color: white;
    background-color: #00B292;
    padding-left: 45px;
    border-bottom:  solid #FD5657 1px;
}
.menu-cel a{
    text-decoration: none;
    color: white;
}

/* BODY DESKTOP BODY DESKTOP BODY DESKTOP BODY DESKTOP BODY DESKTOP BODY DESKTOP */

.Body{
    padding-top: 30px;
    color: black;
    
}
.Body h2{
    margin-left: 65px;
}
.Titulo>h1{
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 3px 10px 01px #260B0B;
}

/* DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION */

.Body-div{
    width: 100%;
    display: flex;
    
    color: black;
}
.Cuerpo{
    width: 65%;
    margin: 0 0 0 65px;
    padding-right: 65px;
}
.Cuerpo p{
    font-size: large;
    text-align: justify;
    line-height: 1.6;
}

/* TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA */
table{
    width: 35%;
    padding: 8px;
}
.tabla-der{
    box-shadow: -10px 0px 50px 1px rgb(108, 107, 107);
    border-radius: 8px;
    margin-right: 30px;
}
thead td{
    background-color: #3f2750;
    color: #ebf3e9;
    text-align: center;
    font-size: large;
    font-weight:bolder;
    margin-bottom: 15px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tbody tr{ border-bottom: solid #dad3d3 1px;}
.tab-b{
    font-weight:900;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR */
.Compartir{
    display: flex;
    width: 100%;
}
.Compartir-Vacio{
    width: 71%;
    margin: 0 0 0 65px;
    display: flex;
    height: 45px;
}
.preview-txt{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 15px;
    width: 30%;
    background-color: black;
    color: white;
    border: solid #dad3d3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.preview-link{
    width: 20%;
    padding-left: 1.5%;
    padding-top: 1%;
    border: solid #dad3d3;
    background-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}
.Compartir-Lleno{
    background-color: black;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: space-between;
    width: 29%;
    margin-right: 60PX;
    border-radius: 10px;
    padding: 8px;
    height: 100%;
}
.Compartir-Lleno >div>b>p{
    padding-top: 4px;
    padding-left: 10px;
    font-weight: 900;
    color: #ffffff;
    width: 25%;
    text-align: center;
}
.Comp-fb{
    background-color: #4267B2;
    border: solid #4267B2 1px;
    color: white;
    border-radius: 10px;
    padding: 4px 10px 3px;
    text-decoration: none;
    width: 25%;
}
.Comp-fb:hover{
    background-color: white;
    border: solid #4267B2 1px;
    color: #4267B2;
}
.Comp-x{
    background-color: #1DA1F2;
    border: solid #1DA1F2 1px;
    color: white;
    border-radius: 10px;
    padding: 4px 10px 3px;
    text-decoration: none;
    width: 25%;
}
.Comp-x:hover{
    background-color: white;
    border: solid #1DA1F2 1px;
    color: #4267B2;}

.Comp-wa{
    background-color: #25D366;
    border: solid #25D366 1px;
    color: white;
    border-radius: 10px;
    padding: 4px 10px 3px;
    text-decoration: none;
    width: 25%;
}
.Comp-wa:hover{
    background-color: white;
    border: solid #25D366 1px;
    color: #0e371d;}

/* COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR */
.Comprar{
    display: flex;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
.Comprar-Vacio{
    width: 71%;
    margin-left: 65px;
}
.Comprar-H2{
    background-color: black;
    color: #eef4ed;
    width: 29%;   
    border-radius: 20px;
    margin-right: 60px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    transition: .2s;
    font-size: medium;
    
}
.Comprar-H2 a{
    text-decoration: none;
    color: #eef4ed;
    margin-left: -50px;
    height: 50px;
    transition: .2s;
    font-size: medium;
    
  
}
.Comprar-H2 a:hover,
.Comprar-H2:hover{
    
    transform: scale(1.1);
}

/* BODY INFERIOR BODY INFERIOR BODY INFERIOR BODY INFERIOR BODY INFERIOR BODY INFERIOR BODY INFERIOR BODY INFERIOR BODY INFERIOR */
.Body_Inf{
    border-bottom: 3px solid transparent;
}
.gradient{
    border-image: linear-gradient(to right, #FD5657, #00B292) 1;
}
.Body_Inf2{
    border-bottom: 3px solid transparent;
}
.grad2{
    border-image: linear-gradient(to right, #00B292 , #FD5657) 1;
}

/* OTROS TITULOS OTROS TITULOS OTROS TITULOS OTROS TITULOS OTROS TITULOS OTROS TITULOS OTROS TITULOS OTROS TITULOS OTROS TITULOS */

.Otros-Titulos{
    margin: 30px;
}
.Otros-Titulos Img{
    padding: 10px;
    margin-right: 20px;
    box-shadow: 6px 10px 50px 6px rgb(170, 169, 169) ;
    transition: .2s;
}
.Otros-Titulos Img:hover{
    transform: scale(1.1);
}

/* CONTENIDO RELACIONADO CONTENIDO RELACIONADO CONTENIDO RELACIONADO CONTENIDO RELACIONADO CONTENIDO RELACIONADO CONTENIDO RELACIONADO*/

.Cont-Relac{
    border-bottom: solid 3px #FD5657;
    color: black;
}
.Relacionados-Titulo{color: black;
margin-left: 65px;}

.tupacmusic,
.ferialibro,
.booktrailer{
    display: flex;
    align-items: center;
    margin: 25px;
    padding: 10px;
    color: black;
}
.tupacmusic p,
.ferialibro p,
.booktrailer p{
    padding-left: 20px;
    font-size: large;
}
.tupacmusic Img,
.ferialibro Img,
.booktrailer Img{
    box-shadow: 6px 10px 50px 6px rgb(122, 120, 120) ;
    transition: .2s;
}
.tupacmusic Img:hover,
.ferialibro Img:hover,
.booktrailer Img:hover{
    transform: scale(1.1);
}

/* BODY CEL *//* BODY CEL *//* BODY CEL *//* BODY CEL *//* BODY CEL *//* BODY CEL */
/* BODY CEL *//* BODY CEL *//* BODY CEL *//* BODY CEL *//* BODY CEL *//* BODY CEL */
.Body-cel{
    padding-top: 10px;
    color: black;
    width: 100%;
    
}
.Body h2{
    margin-left: 65px;
}
.Titulo>h1{
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 3px 10px 01px #260B0B;
}

/* DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION DESCRIPCION */

.Body-div-cel{
    width: 100%;
    display: block;
    color: black;
}
.Cuerpo-cel{
    width: 80%;
    padding: 1%;
    margin: 0 0 0 35px;
    
}
.Cuerpo-cel p{
    font-size: large;
    text-align: justify;
    line-height: 1.6;
}

/* TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA TABLA */

.tabla-cel{
    width: 60%;
    box-shadow: -10px 0px 50px 1px rgb(108, 107, 107);
    border-radius: 8px;
    position: relative;
    padding: 1%;
    margin: 0 0 0 17%;
}


/* COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR COMPARTIR */
.Compartir-cel{
    width: 90%;
    display: block;
    padding: 1%;
}
.Compartir-Vacio-cel{
    width: 97%;
    display: flex;
    margin-left: 10px;
    
}
.preview-txt{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 60%;
    background-color: black;
    color: white;
    border: solid #dad3d3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.preview-link{
    width: 40%;
    padding-left: 1.5%;
    padding-top: 1%;
    border: solid #dad3d3;
    background-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}
.Compartir-Lleno-cel{
    background-color: black;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: space-between;
    width: 97%;
    margin-left: 10px;
    border-radius: 10px;
    padding: 8px 25px 8px 25px;
}
.Compartir-Lleno-cel >div>b>p{
    padding-top: 4px;
    padding-left: 10px;
    font-weight: 900;
    color: #ffffff;
    width: 25%;
    text-align: left;
}
.Comp-fb-cel{
    background-color: #4267B2;
    border: solid #4267B2 1px;
    color: white;
    border-radius: 10px;
    padding: 4px 10px 3px;
    text-decoration: none;
    width: 25%;
}
.Comp-x-cel{
    background-color: #1DA1F2;
    border: solid #1DA1F2 1px;
    color: white;
    border-radius: 10px;
    padding: 4px 10px 3px;
    text-decoration: none;
    width: 25%;
}
.Comp-wa-cel{
    background-color: #25D366;
    border: solid #25D366 1px;
    color: white;
    border-radius: 10px;
    padding: 4px 10px 3px;
    text-decoration: none;
    width: 25%;
}

/* COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR COMPRAR */
.Comprar-cel{
    display: flex;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.Comprar-H2-cel{
    background-color: black;
    color: #eef4ed;
    width: 80%;   
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    transition: .2s;
    
}
.Comprar-H2-cel a{
    text-decoration: none;
    color: #eef4ed;
    margin-left: -30px;
    font-size: small;
    height: 50px;}
    


.tupacmusic-cel,
.ferialibro-cel,
.booktrailer-cel{
        display: block;
        align-items: center;
        margin: 25px;
        padding: 10px;
        color: black;}

.tupacmusic-cel>a>p,
.ferialibro-cel>a>p,
.booktrailer-cel>a>p{
               
    color: black;}

.Cont-Relac-cel{color: black;}






/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* FOOTER REDES */
.footer-sup-redes{
    margin-top: 35px;
    padding-right: 10px;
    font-family: 'ionicons';
    font-size: 40px;
    color: #ebf3e9;
    text-decoration: none;
    height: 50px;
    display:inline-block ;
    ;}

.footer-sup{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px #FFBD59;
}

.footer-sup-redes a{
    padding: 4px;
    background-color: black;
    border-radius: 50%;
    text-decoration: none;
}
.footer-sup-redes >.Facebook::after{
    color: #ebf3e9;
    background-color: black;
    padding: 5px;
    content: '\f236';
    border-radius: 50px;
}

.footer-sup-redes >.Instagram::after{
    color: #ebf3e9;
    background-color: black;
    padding: 5px;
    content: '\f23e';
    border-radius: 50px;
}

.footer-sup-redes >.Mail::after{
    color: #ebf3e9;
    background-color: black;
    padding: 5px;
    content: '\f145';
    border-radius: 50px;
}

h4{color: black;
padding-left: 10px;}



